<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new</title>
</head>
<body>
    <h3>write new chat..</h3>
    <form method="POST" action="/chats">
        <input type="text" name="from" placeholder="who are you">
        <textarea name="msg">Write your msg</textarea>
        <input placeholder="add receiver" name="to"/> 
        <button>Create a chat</button>
    </form>
</body>
</html>